@import "~bootstrap/scss/bootstrap";

.App {
  text-align: center;
  background-color: #3e8e41;
  height: 100vh;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}





.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#movies {
  fill: crimson;
}

#star {
  fill: crimson;
}

.miskas {
  width: 1000px;
  display: flex;
  height: 700px;
  background-color: #E8FEE5;
  flex-direction: column;
  justify-content: first baseline;
  position: relative;
  margin: 0px 200px 0px 200px;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  padding-top: 15px;
}

.box {
  width: 900px;
  height: 80px;
  font-size: 18px;
  background-color: #e49090;
  border-radius: 10px;
  color: #282c34;
  border: 1px black solid;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
 .box2 {
      width: 700px;
      height: 40px;
      font-size: 18px;
      background-color: #dcacac;
      border-radius: 10px;
      color: #282c34;
      border: 1px black solid;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
}


.box3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-top: 20px;
  width: 700px;
}

.box5 {
  display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    justify-content: flex-start;
}


.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  width: 900px;

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  position: absolute;
  min-width: 160px;;
  z-index: 1;
  color:#282c34;
  font-size: 18px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width: 900px;
}

.box2:hover {background-color: crimson;}

.box:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.got {
  margin: 50px 50px 50px 50px;
  display: flex;
  align-items: center;
}
